<link rel="stylesheet" href="/assets/css/dashboard.css" type="text/css">

<!-- HEADER SECTION -->
<%- include('header.ejs') %>
<!-- HEADER SECTION -->




<!-- LEFT SECTION -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <%- include('left.ejs') %>
        </div>
        <div class="col-md-9 bg-primary d-flex align-items-center justify-content-center">
            <h1 class="text-center">Welcome To dashboard</h1>
        </div>
    </div>
</div>
<!-- END -->