<link rel="stylesheet" href="/assets/css/dashboard.css" type="text/css">

    



<!-- LEFT SECTION START....................................... -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 border bg-dark ">
            <p><a  href="/addproduct">Add product</a></p>
            <hr class="text-white">
            <p><a  href="/viewproduct">View Product</a></p>
            <hr class="text-white">
            <p><a  href="/viewregistration">View Registration</a></p>
            <hr class="text-white">
            <p><a  href="/viewcontact">View Contact</a></p>
            <hr class="text-white">
            <p><a  href="#">View Quary</a></p>

        </div>
        <!-- <div class="col-md-9 bg-primary">
            <h1 class="text-center">Welcome to dashboard</h1>
        </div> -->
    </div>
</div>

<!-- LEFT SECTION END....................................... -->
