<%- include('./partials/navbar') %>


<section id="smallMainHero">
  <nav class="d-none d-md-block p-2" id="largerNav">
    <div class="row align-items-center">
      <div class="col-3">
        <img src="publicAssets/img/path-logo.png" alt="" class="img-fluid" style="width: 100px;">
      </div>
      <div class="col-6 text-center">
        <a href="/" class="px-1 mx-2">
          <small>
            Home
          </small>
        </a>
        <a href="/international" class="px-1 mx-2">
          <small>
            International
          </small>
        </a>
        <a href="/domestic" class="px-1 mx-2">
          <small>
            Domestic
          </small>
        </a>
        <a href="/blogs" class="px-1 mx-2">
          <small>
            Blogs
          </small>
        </a>
        <a href="/about" class="activeBtn px-1 mx-2">
          <small>
            About
          </small>
        </a>
      </div>
      <div class="col-3 text-end">
        <a href="/contact">
          <button class="cssbuttons-io-button">
            <span>Contact Us</span>
          </button>
        </a>
      </div>
    </div>
  </nav>

  <header class="d-block d-md-none" id="smallNav">

    <div class="container-fluid p-3">
      <div class="row align-items-center">
        <div class="col-6">
          <img src="publicAssets/img/path-logo.png" alt="" class="img-fluid" style="width: 80px;">
        </div>
        <div class="col-6 text-end">
          <h4 style="cursor:pointer" class="cfont text-white mb-0" onclick="openNav()">
            MENU
          </h4>
        </div>
      </div>
    </div>

    <div id="mySidenav" class="sidenav">

      <!-- <span >
        <i class="fa-solid fa-xmark"></i>
      </span> -->

      <div class="h-25 p-4 d-flex align-items-center justify-content-center" style="position: relative;">

        <div class="text-center">
          <img src="publicAssets/img/path-logo.png" alt="" class="img-fluid" style="width: 80px;">
          <h5 class="cfont">
            Pathik Your Own Trip
          </h5>
        </div>


        <div style="position: absolute; top: 20px; right: 30px;" onclick="closeNav()">
          <i class="fa-solid fa-xmark fs-3"></i>
        </div>

      </div>
      <div class="h-50 p-4">
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/">
            Home
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/international">
            International
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/domestic">
            Domestic
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/blogs">
            Blogs
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/about">
            <b>
              About
            </b>
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
        <div class="mb-2 border-bottom d-flex align-items-center justify-content-between pe-4 pb-2">
          <a href="/contact">
            Contact Us
          </a>
          <i class="fa-solid fa-caret-right"></i>
        </div>
      </div>
      <div class="h-25 p-4 d-flex align-items-end justify-content-center">
        <section>
          <div class="pb-3">
            <i class="fa-solid fa-phone pe-1"></i>
            <a href="" class="p-0">
              +92 54343 84374
            </a>
          </div>
          <div class="pb-3">
            <i class="fa-regular fa-envelope pe-1"></i>
            <a href="" class="p-0">
              info@pathikyourowntrip.com
            </a>
          </div>
          <div class="pb-3">
            <a href="" class="pe-3 py-2 ps-0">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="" class="pe-3 py-2 ps-0">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="pe-3 py-2 ps-0">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </section>
      </div>
    </div>
  </header>



  <div class="container h-100">
    <div class="row h-100 align-items-end pb-5">
      <div class="col-12 text-center text-md-start">
        <h1 class="cfont text-white">
          About
        </h1>
        <h6 class="text-white">
          By Pathik Your Own Trip
        </h6>
      </div>
    </div>
  </div>


</section>



<!-- about -->
<section class="mt-md-5 pt-5">
  <div class="container-fluid px-5">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-5 order-1 order-md-0 mt-5 mt-md-0">
        <!-- <img src="publicAssets/img/Img-01.jpg" alt="" class="img-fluid"> -->
        <img src="publicAssets/img/aboutImg.png" alt="" class="img-fluid">

      </div>
      <div class="col-md-6 order-0 order-md-1 p-md-5 p-2">
        <div class="text-center text-md-start">
          <h4 class="cfont1 mb-0 greenTxt">
            About Pathik Your Own Trip
          </h4>
          <h2 class="cfont my-4">
            Welcome to Pathik Your Own Trip
          </h2>
        </div>
        <p style="text-align: justify;" class="text-muted mb-5">
          <small>
            Make Pathik Your Own Trip your travel companion. Leave your guidebooks at home and dive into the local cultures that make each destination so special. We're not just another travel agency; we're passionate creators of unique experiences that delve deep into the essence of each destination.
          </small>
        </p>

        <div class="d-flex mb-5">
          <div>
            <img src="publicAssets/img/Screenshot 2023-12-28 002349.png" alt="">
          </div>
          <div class="ps-4">
            <h5 class="cfont">
              Easy Bookings
            </h5>
            <div class="text-muted">
              <small>
                We ensure stress-free adventures with transparency, reliability, and unwavering support for seamless travel dream fulfillment.
              </small>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div>
            <img src="publicAssets/img/Screenshot 2023-12-28 002349.png" alt="">
          </div>
          <div class="ps-4">
            <h5 class="cfont">
              Unforgettable Experience
            </h5>
            <div class="text-muted">
              <small>
                We craft unforgettable experiences that linger, weaving moments of wonder and joy into every journey we curate and deliver.
              </small>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>

<!-- why -->
<section class="my-5 pt-5 px-md-5">
  <div class="container-fluid p-5 rounded-4" style="background: url(https://demoapus1.com/tourio/wp-content/uploads/2023/08/h23.jpg); background-position: center center; ">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="text-center text-md-start">
          <h4 class="cfont1 mb-0 greenTxt">
            Why Pathik Your Own Trip
          </h4>
          <h2 class="cfont my-4">
            Crafting Unforgettable Adventures
          </h2>
        </div>
        <p class="text-muted" style="text-align: justify;">
          <small>
            Choose Pathik Your Own Trip for tailored adventures to create immense amounts of unforgettable experiences. We eschew guidebooks, curating exclusive, culturally immersive experiences. Our meticulous planning grants freedom, allowing you to embrace moments without worry. <br> Transparency, reliability, and dedicated support define us—transforming travel dreams into seamless realities. With us, your journey isn't just a trip; it's an exploration of the extraordinary, designed to leave indelible imprints of discovery and delight.
          </small>
        </p>
      </div>
      <div class="col-md-7 ps-md-5">
        <div class="row align-items-center">
          <div class="col-md-6">

            <div class="bg-white p-3 rounded-4 mb-4">
              <div>
                <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/icon4.svg" class="img-fluid mb-2" alt="">
              </div>
              <div>
                <h5 class="cfont">
                  Personalized Journey Crafting
                </h5>
                <div>
                  <p style="text-align: justify;">
                    <small style="font-size: 12px;">
                      Experience bespoke travel itineraries tailored to your preferences, ensuring every moment reflects your unique desires and aspirations.
                    </small>
                  </p>
                </div>
              </div>
            </div>

            <div class="bg-white p-3 rounded-4 mb-4 mb-md-0">
              <div>
                <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/icon4.svg" class="img-fluid mb-2" alt="">
              </div>
              <div>
                <h5 class="cfont">
                  24/7 Customer Care
                </h5>
                <div>
                  <p style="text-align: justify;">
                    <small style="font-size: 12px;">
                      Enjoy round-the-clock support, assistance, and guidance, providing peace of mind and immediate solutions for any travel-related queries or issues.
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bg-white p-3 rounded-4">
              <div>
                <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/icon4.svg" class="img-fluid mb-2" alt="">
              </div>
              <div>
                <h5 class="cfont">
                  Reliable Support & Transparency
                </h5>
                <div>
                  <p style="text-align: justify;">
                    <small style="font-size: 12px;">
                      Benefit from our unwavering support, transparent processes, and trustworthy guidance, ensuring stress-free booking and travel at every step.
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- client carousel -->
<section class="pt-5">
  <div class="container p-md-5 rounded-4 py-4" style="background: #16253d;">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h2 class="cfont text-white">
          Stories from Our Travelers
        </h2>
      </div>
      <div class="col-12">
        <section class="splide" aria-label="">
          <div class="splide__track pe-5">
            <ul class="splide__list">
              <li class="splide__slide p-md-5" data-splide-interval="2000">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="publicAssets/img/testimonials/1.png" style="width: 100px; border-radius: 50%;" alt="">
                  </div>
                  <div class="ps-5">
                    <p class="text-white-50" style="text-align: justify;">
                      <small>
                        My trip to Darjeeling with Pathik Your Own Trip was exceptional. The personalized itinerary and attention to diverse local culture surpassed expectations. The transparent approach and unwavering support made my trip seamless. I highly recommend Pathik for crafting unforgettable journeys. Their commitment to showcasing India's essence left me with cherished memories. Rajiv Singh, grateful traveler.
                      </small>
                    </p>
                    <div>
                      <span class="text-white">
                        Rajiv Singh
                      </span>
                    </div>
                  </div>

                </div>
              </li>
              <li class="splide__slide p-md-5" data-splide-interval="2000">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="publicAssets/img/testimonials/2.png" style="width: 100px; border-radius: 50%;" alt="">
                  </div>
                  <div class="ps-5">
                    <p class="text-white-50" style="text-align: justify;">
                      <small>
                        Pathik Your Own Trip Travel Agency’s expertise in organizing a tour was exceptional! Their guidance made my Indian journey unforgettable. With insightful recommendations and flawless arrangements, Pathik ensured a seamless and enriching experience. I highly commend Pathik's dedication and personalized service. For anyone seeking a tailored, delightful trip, Pathik is the ultimate go-to.
                      </small>
                    </p>
                    <div>
                      <span class="text-white">
                        - Mohit Thakur’s
                      </span>
                    </div>
                  </div>

                </div>
              </li>
              <li class="splide__slide p-md-5" data-splide-interval="2000">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="publicAssets/img/testimonials/3.png" style="width: 100px; border-radius: 50%;" alt="">
                  </div>
                  <div class="ps-5">
                    <p class="text-white-50" style="text-align: justify;">
                      <small>
                        Pathik from Your Own Trip Travel Agency transformed my travel dreams into an incredible reality! Their meticulous planning and deep understanding of India curated a journey beyond imagination. From cultural insights to seamless logistics, Pathik's personalized touch made every moment unforgettable. I highly recommend Pathik's expertise for anyone craving an authentic and captivating Indian adventure.
                      </small>
                    </p>
                    <div>
                      <span class="text-white">
                        - Monika Tyagi
                      </span>
                    </div>
                  </div>

                </div>
              </li>
              <li class="splide__slide p-md-5" data-splide-interval="2000">
                <div class="d-flex align-items-center">
                  <div>
                    <img src="publicAssets/img/testimonials/4.png" style="width: 100px; border-radius: 50%;" alt="">
                  </div>
                  <div class="ps-5">
                    <p class="text-white-50" style="text-align: justify;">
                      <small>
                        Pathik from Your Own Trip Travel Agency transformed my travel dreams into an incredible reality! Their meticulous planning and deep understanding of India curated a journey beyond imagination. From cultural insights to seamless logistics, Pathik's personalized touch made every moment unforgettable. I highly recommend Pathik's expertise for anyone craving an authentic and captivating Indian adventure.
                      </small>
                    </p>
                    <div>
                      <span class="text-white">
                        - Shefali Rana
                      </span>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<!-- client carousel -->
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner1.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner2.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner3.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner4.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner5.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner6.png" alt="">
            </div>

            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner1.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner2.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner3.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner4.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner5.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner6.png" alt="">
            </div>


            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner1.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner2.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner3.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner4.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner5.png" alt="">
            </div>
            <div class="slide">
              <img src="https://www.trippybabatours.com/img/logos/partner6.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<%- include('./partials/footer') %>