<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

<!-- NAVBAR SECTION START............................. -->
<%- include('common/header.ejs') %>
    <!-- NAVBAR SECTION END...............................  -->


    <!-- HERO SECTION START.................................  -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-white pt-5">
                    <div class="text_box">
                        <h1>About Us</h1>
                        <p class="fs-5 pt-3" style="color: rgb(199, 191, 191);">Donec vitae odio quis nisl dapibus
                            malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique
                        </p>
                        <p class="mt-4"><a href="/shop" class="btn btn-warning  rounded-5 fs-6 w-25  p-3 me-3">Shop Now</a><a
                                href="/blog" class="btn btn-outline-light text-white rounded-5  p-3 w-25 fs-6">Explore</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-7">
                    <img class="img-fluid  pt-5" src="/assets/images/couch.png" alt="#">
                </div>
            </div>
        </div>
    </section>
    <!-- HERO SECTION END.................................  -->

    <!-- WHY CHOOSE US SECTION START................................   -->
    <section class="pt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h2>Why Choose Us</h2>
                    <p class="text-secondary-emphasis">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet
                        velit. Aliquam vulputate velit
                        imperdiet dolor tempor tristique.
                    </p>
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <img class="img-fluid" src="/assets/images/truck.svg" alt="image">
                            <h6 class="mt-3">Fast & Free Shipping</h6>
                            <p class="text-secondary-emphasis" style="font-size: 15px;">Donec vitae odio quis nisl
                                dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                        <div class="col-md-6 mt-5">
                            <img class="img-fluid" src="/assets/images/bag.svg" alt="image">
                            <h6 class="mt-3">Easy to Shop</h6>
                            <p class="text-secondary-emphasis" style="font-size: 15px;">Donec vitae odio quis nisl
                                dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                        <div class="col-md-6 mt-2">
                            <img class="img-fluid" src="/assets/images/support.svg" alt="image">
                            <h6 class="mt-3">24/7 Support</h6>
                            <p class="text-secondary-emphasis" style="font-size: 15px;">Donec vitae odio quis nisl
                                dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                        <div class="col-md-6 mt-2">
                            <img class="img-fluid" src="/assets/images/return.svg" alt="image">
                            <h6 class="mt-3">Hassle Free Returns</h6>
                            <p class="text-secondary-emphasis" style="font-size: 15px;">Donec vitae odio quis nisl
                                dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid rounded-4 w-75 ms-5" src="/assets/images/why-choose-us-img.jpg" alt="image">
                </div>
            </div>
        </div>
    </section>
    <!--  WHY CHOOSE US SECTION END................................  -->

    <!-- OUR TEAM SECTION START........................................... -->
        <section>
            <div class="container mt-5">
                <div class="row">
                    <h1 class="text-center text-dark">Our Team</h1>
                    <div class="col-md-3 mt-5">
                        <img class="img-fluid w-100" src="/assets/images/person_1.jpg" alt="image">
                        <h3 class="mt-3"><a class=" text-dark" href="#">Lawson Arnol</a>d</h3>
                        <h6 class="text-secondary-emphasis ">CEO, Founder, Atty.</h6>
                        <p class="text-secondary-emphasis mt-4">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <a class="text-dark" href="#">Learn More</a>
                    </div>

                    <div class="col-md-3 mt-5">
                        <img class="img-fluid w-100" src="/assets/images/person-2.jpg" alt="image">
                        <h3 class="mt-3"><a class=" text-dark" href="#">Jeremy Walke</a>r</h3>
                        <h6 class="text-secondary-emphasis ">CEO, Founder, Atty.</h6>
                        <p class="text-secondary-emphasis mt-4">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <a class="text-dark" href="#">Learn More</a>
                    </div>

                    <div class="col-md-3 mt-5">
                        <img class="img-fluid w-100" src="/assets/images/person_3.jpg" alt="image">
                        <h3 class="mt-3"><a class=" text-dark" href="#">Patrik White</a></h3>
                        <h6 class="text-secondary-emphasis ">CEO, Founder, Atty.</h6>
                        <p class="text-secondary-emphasis mt-4">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <a class="text-dark" href="#">Learn More</a>
                    </div>

                    <div class="col-md-3 mt-5">
                        <img class="img-fluid w-100" src="/assets/images/person_4.jpg" alt="image">
                        <h3 class="mt-3"><a class=" text-dark" href="#">Kathryn Ryan</a></h3>
                        <h6 class="text-secondary-emphasis ">CEO, Founder, Atty.</h6>
                        <p class="text-secondary-emphasis mt-4">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <a class="text-dark" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    <!-- OUR TEAM END........................................... -->

    <!-- TESTIMONIAL SECTION START......................................... -->
    <div class="slider-area mt-5">
        <h2 class="text-center">TESTIMONIALS</h2>
        <div class="container ">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active bg-dark mt-3" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2" class="bg-dark mt-3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3" class="bg-dark mt-3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4" class="bg-dark mt-3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-area">
                            <img src="/assets/images/review.jpg" alt="image">
                        </div>
                        <div class="carousel-caption1">
                            <h5 class="text-center">Jason Doe</h5>
                            <h4 class="text-secondary-emphasis text-center">Ceo & founder</h4>
                            <p class="text-secondary-emphasis text-center">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. In molestias
                                tenetur
                                molestiae qui sapiente
                                dolorem laborum quas eius vel numquam porro atque, error necessitatibus voluptate nam
                                corporis libero
                                sed reprehenderit.</p>
                        </div>
                    </div>

                    <div class="carousel-item ">
                        <div class="img-area">
                            <img src="/assets/images/review2.jpg" alt="image">
                        </div>
                        <div class="carousel-caption1">
                            <h5 class="text-center">Jena Karlis</h5>
                            <h4 class="text-secondary-emphasis text-center">Store Owner</h4>
                            <p class="text-secondary-emphasis text-center">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. In molestias
                                tenetur
                                molestiae qui sapiente
                                dolorem laborum quas eius vel numquam porro atque, error necessitatibus voluptate nam
                                corporis libero
                                sed reprehenderit.</p>
                        </div>
                    </div>

                    <div class="carousel-item ">
                        <div class="img-area">
                            <img src="/assets/images/review3.jpg" alt="image">
                        </div>
                        <div class="carousel-caption1">
                            <h5 class="text-center">Harry Brook</h5>
                            <h4 class="text-secondary-emphasis text-center">Developer</h4>
                            <p class="text-secondary-emphasis text-center">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. In molestias
                                tenetur
                                molestiae qui sapiente
                                dolorem laborum quas eius vel numquam porro atque, error necessitatibus voluptate nam
                                corporis libero
                                sed reprehenderit.</p>
                        </div>
                    </div>

                    <div class="carousel-item ">
                        <div class="img-area">
                            <img src="/assets/images/review4.jpg" alt="image">
                        </div>
                        <div class="carousel-caption1">
                            <h5 class="text-center">Sara Willsone</h5>
                            <h4 class="text-secondary-emphasis text-center">designer</h4>
                            <p class="text-secondary-emphasis text-center">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. In molestias
                                tenetur
                                molestiae qui sapiente
                                dolorem laborum quas eius vel numquam porro atque, error necessitatibus voluptate nam
                                corporis libero
                                sed reprehenderit.</p>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark rounded-4" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark rounded-4" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL SECTION END........................................... -->






    <!-- FOOTER SECTION START.............................. -->
    <%- include('common/footer.ejs') %>
        <!-- FOOTER SECTION END................................. -->