<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

<!-- NAVBAR SECTION START............................. -->
<%- include('common/header.ejs') %>
    <!-- NAVBAR SECTION END...............................  -->


    <!-- HERO SECTION START.................................  -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-white pt-5">
                    <div class="text_box">
                        <h1>cart</h1>
                        <p class="fs-5 pt-3" style="color: rgb(199, 191, 191);">Donec vitae odio quis nisl dapibus
                            malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique
                        </p>
                        <p class="mt-4"><a href="/shop" class="btn btn-warning  rounded-5 fs-6 w-25  p-3 me-3">Shop Now</a><a
                                href="/blog" class="btn btn-outline-light text-white rounded-5  p-3 w-25 fs-6">Explore</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-7">
                    <img class="img-fluid  pt-5" src="/assets/images/couch.png" alt="#">
                </div>
            </div>
        </div>
    </section>
    <!-- HERO SECTION END.................................  -->

    <!-- ORDER DONE SECTION START................................. -->
    <section>
        <div class="container mt-5">
            <div class="col-md-12 mt-5">
                <img class="img-fluid  rounded-5 d-block m-auto" src="/assets/images/order done.jpg" alt="image">
                <h2 class='text-center mt-5' style="font-size: 80px;">Thank you!</h2>
                <p class="text-secondary-emphasis text-center fs-3 mt-1">You order was successfuly completed.</p>
                <a href="/shop"><button class="btn btn-dark rounded-5 p-3 mt-4 w-25  d-block m-auto">Back To Shop</button></a>
            </div>
        </div>
    </section>
    <!-- ORDER DONE SECTION END................................. -->

   




     <!-- FOOTER SECTION START.............................. -->
     <%- include('common/footer.ejs') %>
     <!-- FOOTER SECTION END................................. -->