<!-- footer-->
<section class="mt-5">
  <div class="p-md-5 p-4" style="background: #05073c;">
    <div class="row g-0 m-0 justify-content-between">
      <div class="col-12 row border-bottom pb-5 mb-5">
        <div class="col-md-6 mb-4 mb-md-0 text-center text-md-start">
          <div class="d-flex align-items-center px-4 px-md-0 whiteHeadPhone">
            <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/headphone-white.svg" class="img-fluid" style="width: 40px;" alt="">
            <h6 class="text-white mb-0 ms-md-4">
              Speak to our expert at <br class="d-block d-md-none">
              <a href="tel:7240164702" class="text-decoration-none text-white">72401 64702</a>
            </h6>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="d-flex align-items-center justify-content-end footerIcon">
            <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/headphone-white.svg" class="img-fluid" style="width: 40px; visibility: hidden;" alt="">
            <h6 class="text-white mb-0 ms-md-4">
              Follow Us:
            </h6>
            <div class="ps-md-4 ps-2">
              <a href="https://api.whatsapp.com/send/?phone=7240164702&text=Hi%2C%0A%0AI+visited+Pathik+your+own+Trip+at+https%3A%2F%2Fwww.pathikyourowntrip.com%2F+.+I+am+interested+in+this+offer.+Do+contact+me+to+discuss+it+further.%0A%0AThanks%2C&type=phone_number&app_absent=0" target="_blank" class="text-white text-decoration-none mx-2">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
              <a href="https://www.facebook.com/Tripforevertrips?mibextid=LQQJ4d" target="_blank" class="text-white text-decoration-none mx-2">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="https://www.instagram.com/pathiktrips/?igsh=Y2thdjE2YmRhMjJ3&utm_source=qr" target="_blank" class="text-white text-decoration-none mx-2">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://www.youtube.com/@pathiktrips3331" target="_blank" class="text-white text-decoration-none mx-2">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
        <h5 class="text-white mb-4">
          Pathik Your Own Trip
        </h5>
        <div>
          <p class="text-white-50" style="text-align: justify;">
            <small>
              Passion for crafting unique journeys drives us at Pathik Your Own Trip. With expertise and care, we curate unforgettable adventures, ensuring every moment is a cherished experience.
            </small>
          </p>
        </div>
      </div>
      <div class="col-md-3 ps-md-5 mb-5 mb-md-0">
        <div class="row">
          <div class="col-6 ps-4 ps-md-0">
            <h5 class="text-white mb-4">
              Pages
            </h5>
            <div>
              <a href="/" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  Home
                </small>
              </a> <br>
              <a href="/international" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  International
                </small>
              </a> <br>
              <a href="/domestic" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  Domestic
                </small>
              </a> <br>
              <a href="/blogs" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  Blogs
                </small>
              </a> <br>
              <a href="/about" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  About
                </small>
              </a> <br>
            </div>
          </div>
          <div class="col-6 ps-4 ps-md-0">
            <h5 class="text-white mb-4">
              Destinations
            </h5>
            <div>
              <a href="/category/Backpacking" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  Backpacking
                </small>
              </a> <br>
              <a href="/category/McLeodganj" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  McLeodganj
                </small>
              </a> <br>
              <a href="/category/Manali" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  Manali
                </small>
              </a> <br>
              <a href="/category/Weekend" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  Weekend
                </small>
              </a> <br>
              <a href="/category/Leh" class="mb-2 text-decoration-none">
                <small class="text-white-50">
                  Leh Ladakh
                </small>
              </a> <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center text-md-start">
        <h5 class="text-white mb-4">
          Connect With Us
        </h5>
        <div>
          <small class="text-white-50 my-1">
            <a class="text-decoration-none text-white-50" href="tel:+917240164702">+91 7240164702</a>,
            <a class="text-decoration-none text-white-50" href="tel:+918284822248">+91 8284822248</a>
          </small>
          <br>
          <a href="mailto:pathiktrips@gmail.com" class="text-decoration-none">
            <small class="text-white-50">
              pathiktrips@gmail.com
            </small>
          </a><br>
          <a href="#" class="text-decoration-none">
            <small class="text-white-50">
              Sector 16 Rohini, New Delhi 110085
            </small>
          </a><br>
        </div>
      </div>

      <div class="col-12 mt-5 border-top pt-3">
        <div class="row text-center text-md-start">
          <div class="col-md-6">
            <small class="text-white">
              © 2023 Travel Tour All Rights Reserved.
            </small>
          </div>
          <div class="col-md-6 text-md-end mt-3 mt-md-0">
            <img src="https://demoapus1.com/tourio/wp-content/uploads/2023/08/footer1-1.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="popupmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" style="position: relative;">
        <i class="fa-solid fa-xmark" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 15px; right: 15px; cursor: pointer;"></i>
        <div class="row align-items-center py-4 py-md-0">
          <div class="col-md-6 text-center col-11 mb-4 mb-md-0 m-auto">
            <img src="banners/<%=popUpImg%>" id="popImg" class="img-fluid rounded-3" alt="">
          </div>
          <div class="col-md-6 px-4 pt-4 pb-md-4 d-flex align-items-center justify-content-center">
            <div class="w-100">
              <div class="text-center text-md-start">
                <h4 class="fw-bold mb-md-5 mb-4">
                  Send Your Details
                </h4>
              </div>
              <div class="row">
                <div class="mb-3 col-6">
                  <small> Name </small> <br>
                  <input type="text" name="Name" id="promoNameInp" class="cInput p-1 border-bottom w-100" />
                </div>
                <div class="mb-3 col-6">
                  <small> Mobile </small> <br>
                  <input type="number" name="mobile" min="0" id="promoMobileInp" class="cInput p-1 border-bottom w-100" />
                </div>
                <div class="mb-3 col-6">
                  <small> Email</small> <br>
                  <input type="email" name="email" min="0" id="promoEmailInp" class="cInput p-1 border-bottom w-100" />
                </div>
                <div class="mb-3 col-6">
                  <small> No. of People</small> <br>
                  <input type="number" min="0" name="peopleCount" min="0" id="promoPeopleCountInp" class="cInput p-1 border-bottom w-100" />
                </div>
                <div class="mb-3 col-12">
                  <small> Destination</small> <br>
                  <input type="text" name="Destination" id="promoDestinationInp" class="cInput p-1 border-bottom w-100" />
                </div>
                <div class="">
                  <button class="cssbuttons-io-button w-100" id="sendPopUp"> Send Details </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js'

  const swiper2 = new Swiper('.swiperCarousel1', {
    loop: true,
    parallax: true,
    speed: 600,
    navigation: {
      nextEl: '.swiperButtonNext2',
      prevEl: '.swiperButtonPrev2',
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: true
    },
    breakpoints: {
      "@0": {
        slidesPerView: 1.4,
      },
      "@1": {
        slidesPerView: 4.2,
      }
    },
  });
</script>


<script>
  if (window.innerWidth < 480) {
    var splide = new Splide('.splide', {
      direction: 'ttb',
      height: '25rem',
      arrows: false,
      type: 'loop',
      autoplay: true,
      autoWidth: true,
    });
    splide.mount();

  } else {
    var splide = new Splide('.splide', {
      direction: 'ttb',
      height: '15rem',
      arrows: false,
      type: 'loop',
      autoplay: true,
      autoWidth: true,
    });
    splide.mount();
  }
</script>

<!-- for wide banner -->
<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js'

  const swiper4 = new Swiper('.swiperCarousel4', {
    // Optional parameters
    loop: true,
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 2000,
      disableOnInteraction: true
    },
    breakpoints: {
      "@0.00": {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      "@1": {
        slidesPerView: 1,
        spaceBetween: 10,
      }
    },
  });
</script>


<script src="publicAssets/js/typedJs.js"></script>
<!-- custom js -->
<script src="publicAssets/js/script.js"></script>

</body>

</html>